@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --fontColor: 35, 26, 17;
  --background: 247, 247, 240;
  --accent1: 195, 165, 121;
  --accent2: 121, 66, 36;
  --ctaButton: 33, 130, 127;
}

.dark {
  --background: 35, 26, 17;
  --fontColor: 247, 247, 240;
  --accent1: 195, 165, 121;
  --accent2: 121, 66, 36;
  --ctaButton: 33, 130, 127;
}
